<!DOCTYPE html>
<link rel="icon" href="data:,">
<style>
  body {
    background-color: black
  }

  h1, p {
    color: white;
    text-align: center
  }

  img {
    width: 100%
  }
</style>

<%# <%= image_tag("nazgul-in-forest.jpg") %> %>
<h1>hi show n tell! 👋</h1>
<p><%= @total_distance %></p>
